<page-header />
{{imagesUrls|json}}
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
        <mat-card>
          <mat-card-title>
            <div class="w-full text-center">
              <p>اضافة الصورة الرئيسية للاعلان</p>
              <hr>
            </div>
          </mat-card-title>
          <mat-card-header>
            <app-file-uploader (fileSelected)="onFileSelected($event)" label="تحديد الصورة" />
          </mat-card-header>
          <mat-card-content>
            <div class="text-center w-full">
              <img [src]="mainImageSrc" width="100%" height="100%" />
            </div>
          </mat-card-content>
        </mat-card>
    </div>
    <div class="col-7">
     <app-file-uploader
      [multiple]="true"
       [maxSizeMB]="5"
        label="تحديد الصور"
        (fileSelected)="onSelectedMultiaples($event)">

        <div class="row">



            @for (item of imagesUrls; track $index) {
              <div class="col-3">
                <img alt="" [src]="item" width="100%" height="100%" />
              </div>
            }


        </div>
     </app-file-uploader>
    </div>
  </div>
</div>
