$primary-bg-color: rgb(3, 60, 60);
$primary-border-color: #3a7dea;
.border:hover{
  background-color:$primary-bg-color;
  border: 1px solid $primary-border-color;
}
.selectedCard{
  background-color:$primary-bg-color;
  border: 1px solid $primary-border-color;
  color: white;
}
.avatar {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  @media (width <= 768px) {
    width: 4rem;
    height: 4rem;
  }
}
