.toast-success {
  background-color: #4caf50; // لون النجاح
  color: #ffffff; // لون النص
}

.toast-error {
  background-color: #f44336; // لون الخطأ
  color: #ffffff; // لون النص
}

.toast-warning {
  background-color: #ff9800; // لون التنبيه
  color: #ffffff; // لون النص
}

.toast-info {
  background-color: #2196f3; // لون المعلومات
  color: #ffffff; // لون النص
}
